@charset "UTF-8";
/* ヘッダー(ロゴ)フッター用 */
/*ロゴのアイコン色は#E1542F　文字色は#442209*/
body{
	 margin: 0;
}

header img{
    text-align: left;
    margin: 0;
    margin-top: 17px;
    margin-left: 17px;

	height:128px;
    width:128px;
    border-radius: 8%;/*角丸*/
    border: solid 5px rgb(255, 166, 0);

}


footer{
    text-align: right;
    margin: 0;
    height:60px;
    background-color: #565045;

}

footer p{
    margin: 0;
    padding-top: 20px;
    color: #ffffff;
    font-size: 14px;
    margin-right:15px;
}
