@charset "UTF-8";
/* ヘッダー(ロゴ)フッター用 */
/*ロゴのアイコン色は#E1542F　文字色は#442209*/
body{
	 margin: 0;
}

header{
	display: flex;
	margin-bottom: 0px;
}

#title{
	height: 30px;
	width: 77%;
	margin-top: 90px;
	margin-left: 17px;
	border-bottom: dotted 3px #E1542F;
}

header img{
    text-align: left;
    margin: 0;
    margin-top: 17px;
    margin-left: 17px;

	height:97px;
    width:97px;
    border-radius: 8%;/*角丸*/
    border: solid 5px rgb(255, 166, 0);

}

h1{
	margin:0;
	text-align: center;

}


footer{


	left:0;
	right:0;
    text-align: right;
    margin: 0;
    margin-top: 20px;;
    height:60px;
    background-color: #565045;

}

footer p{
    margin: 0;
    padding-top: 20px;
    color: #ffffff;
    font-size: 14px;
    margin-right:15px;
}
