@charset "UTF-8";

.contents{
	display: flex;
	width: 800px;
	height: 240px;
	margin: 0 auto 0 auto;
}

.etsuran{
	width: 400px;
	margin-left: 15px;
	margin-right: 15px
}

.yoyaku{
	width: 400px;
	margin-left: 15px;
	margin-right: 15px
}