@charset "UTF-8";

.memolist{
	margin-right: 20px;
}

.memo_table{

	margin-left: 20px;
	background-color:#ec8655;
}

.new_memo{
	margin-left:20px;
}

.new_memo_table{
	margin-left: 20px;
	text-align:left;
}

tr{
	border: solid 3px #000000;
	margin:5px;
}


.contents{
	display:flex;
	height: 248px;
	margin:0 auto 0 auto;
	margin-left: 4%;
    margin-right: 4%;
}

#createMemo{
	margin-top: 15px;
	margin-left: 83%;
	color:#ffffff;
	background-color:#ec8655;
	padding : 4px;
	height:40px;
	width:40px;
	border-radius: 50%;/*角丸*/
	border-color:#ea763e;
	font-size: 20px;
}

#closenewMemo{
	height:20px;
	width:20px;
	border-radius: 50%;/*角丸*/
}
