@charset "UTF-8";




section {

    margin-top: 4.5%;
    margin-bottom: 4.5%;
}

h1 {
	font-weight: 300;
	padding-top: 12px;
    font-size: 16px;
}

.calendartable {
	margin: 0 auto 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

/*#calendar {

    display: flex;
    flex-wrap: wrap;

}*/

#calendar td {
	width: 40px;
	height:26px;
	font-size: 4px;
    border: 1px solid #ddd;
    padding: 1px;
    text-align: left;
    vertical-align: top;

}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    color: #ccc;
}
td.youbi {
	padding: 3px;
	color: green;
	height: 10px;
	font-size: 8px;
}