@charset "UTF-8";

.contents{
	display: flex;
	width: 800px;
	margin: 0 auto 0 auto;
}
#tsuchitemplate{
	margin-right: 25px;
}

#result{
	width: 400px;
	padding-left: 20px;
	border-left: solid 2px #E1542F;
}

.markar{
	color:#E1542F;

}

.koumoku{
	font-size:13px;
}

td{
	margin:10px;
}

p,label{
	font-size:15px;
	margin-bottom:6px;
}