@charset "UTF-8";
/* メニュー画面用 */

header{
	display: flex;
}
.menu_contents{

    margin: 0;
   /* background-image: url('dojo/img/izakaya.jpg'); */
}

.search{
    flex-direction: row;
    text-align: left;
	background-color:rgb(255, 255, 255);
	height:8%;
	width:50%;
	margin-left: 20px;
	margin-top: 18px;
 	padding: 0.7%;

}


.search input{
    margin: 1.2px;
}

.con{
    background-color: rgb(255, 255, 255);
    margin-top:  0;
    margin-bottom: 0;
}

.con p{
    margin: 0;
    margin-bottom: 0;
}
.top{
	display: flex;
	margin: 0 auto 0 auto ;
    height: 200px;
    margin-bottom: 1%;
}

.ranking{
    flex-direction: row;
	background-color: rgb(255, 255, 255,0.5);
	float: left;
	text-align: center;
	width: 55%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 1.2%;
    padding-right: 1.2%;

}

 table{
    text-align: center;
    margin: 0 auto 0 auto;
}

.command{
	background-color: rgb(255, 255, 255,0.5);
	flex-direction: row;
	width: 35%;
	vertical-align: middle;
	text-align: center;
    float: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 1.2%;
    padding-right: 1.2%;
}


.calendar {
		background-color: rgb(255, 255, 255,0.5);
        border: solid 2px;
        flex-direction: row;
        width: 30%;
        padding-left: 1.2%;
        padding-right: 1.2%;
        text-align: center;
        vertical-align: middle;
  	    margin-right: 2.5%;
  	    margin-left: 2.5%;

}



.bottom{
	display:flex;
}

.information{
    flex-direction: row;
	background-color: rgb(255, 255, 255,0.5);
    text-align: center;
    width: 55%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    margin-left: 2.5%;
    margin-right: 2.5%;

}

