@charset "UTF-8";
/* メニュー画面用 */

header{
	display: flex;
	 margin-bottom: 2%;
}

.koumoku td{
	color:#000000;
}

.menu_contents{

    margin: 0;
   /* background-image: url('dojo/img/izakaya.jpg'); */
}

#yosan{
	background-color:rgb(255,255,255);
	margin: 0;
}

.search{
    flex-direction: row;
    text-align: left;
	background-color:rgb(254, 231, 201,0.6);
	height:8%;
	width:50%;
	border-radius: 5px;/*角丸*/
	margin-left: 20px;
	margin-top: 18px;
 	padding: 0.7%;

}


.search input{
	margin: 0;
}

.con{

    background-color: rgb(255, 255, 255);
    margin-top:  0;
    margin-bottom: 0;
    width:100%;
    height: 100%;

}

.calendar .con{
    height: 90%;
}


.con p{
    margin: 0;
    margin-bottom: 0;
}

.top{
	display: flex;
	margin: 0 auto 0 auto ;
    height: 240px;
    margin-bottom: 2%;
}

.bottom{
	display:flex;
}

.ranking{
	border-radius: 5px;/*角丸*/
    flex-direction: row;
	background-color: rgb(254, 231, 201,0.6);
	float: left;
	text-align: center;
	width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
	margin-top: 0.1%;
    margin-left: 2.5%;
	margin-right: 2.5%;

}

.ranking p{
	font-size: 16px;
	font-weight: 300;
	padding-top: 1%;
	margin-bottom: 0.5%;
}

.ranking .rank_table{
	overflow-x:scroll;
	margin-bottom: 0.8%;
}

.ranking table{

	 width:800px;
	 margin-bottom: 0.8%;
	 margin-left: 1%;

}

.ranking th{
	padding-left: 10px;
	text-align:left;
	font-size: 12Px;
}
#photo{
	height:100px;
	width:120px;
}

#photo img{
	height:100px;
	width:120px;
	margin: 0;
}

.ranking td{
	margin: 0;
	font-size: 14px;
	height:30px;
	width:120px;
	padding:0;
	border-right: dotted 1px #000000;
}




.calendar {
		border-radius: 5px;/*角丸*/
		background-color: rgb(254, 231, 201,0.6);

        flex-direction: row;
        width: 40%;
        /*padding-left: 1.2%;
        padding-right: 1.2%;*/
        text-align: center;
        vertical-align: middle;
  	    margin-right: 2.5%;

}


.information{
	border-radius: 5px;/*角丸*/
    flex-direction: row;
	background-color: rgb(254, 231, 201,0.6);
    text-align: center;
    width: 55%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2.5%;

    font-size: 14px;

}

.information p{
	font-size: 16px;
	font-weight: 300;
	padding-top: 1%;
	margin-bottom: 0.5%;
}


.information table{
	margin: 0 auto 0 auto ;
	text-align: left;
	font-size: 14px;
}

.information table th{
	font-weight: 300;
	font-size: 13px;
	margin-right: 13%;
}

.command{
	font-size: 14px;
	border-radius: 5px;/*角丸*/
	background-color: rgb(254, 231, 201,0.6);
	flex-direction: row;
	width: 35%;
	vertical-align: middle;
	text-align: center;
    float: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.command p{

	font-size: 16px;
	font-weight: 300;
	padding-top: 1%;
	margin-bottom: 0.5%;
}


.command table{
	margin: 0 auto 0 auto ;
	text-align: left;
	font-size: 14px;
}

.command table th{
	font-weight: 300;
	font-size: 13px;
	margin-right: 13%;
}
